@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 62,5%; }
  * body {
    background-color: #fdfcdc; }

@media (max-width: 768px) {
  .carousel {
    display: none; }
  .paw {
    display: none; } }

header {
  margin-bottom: 5rem; }
  header .logo-header {
    height: 12rem;
    width: auto; }
  header .intro-menu {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #fdfcdc, #227C9D); }

.menu {
  background-image: linear-gradient(to left, #fdfcdc, #227C9D); }
  .menu ul {
    list-style: none;
    margin-bottom: 0px; }
    .menu ul a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      font-size: 1.5rem;
      padding: 1rem;
      letter-spacing: 0.2rem;
      font-weight: bolder; }
    .menu ul li {
      position: relative;
      float: left;
      margin: auto; }
      .menu ul li:hover {
        background-color: #FFCB77; }
      .menu ul li:hover > ul {
        display: block; }
    .menu ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin-bottom: 0px;
      padding: 0;
      z-index: 1;
      background-color: #227C9D; }
      .menu ul ul li {
        float: none; }
        .menu ul ul li:hover {
          display: block; }
      .menu ul ul a {
        line-height: 120%; }
    .menu ul li:hover {
      display: block; }

.footer {
  background-color: #227C9D; }
  .footer .footer-p {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2rem; }
  .footer .footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 2rem; }
    .footer .footer-container .div-footer {
      width: 15%;
      display: flex;
      justify-content: space-around; }

.inicio-container .section-index .intro {
  width: 100%; }
  .inicio-container .section-index .intro .intro-title .important-titles {
    color: #17C3B2;
    margin-bottom: 2rem;
    text-align: center;
    margin: 2rem;
    font-style: bold; }

.inicio-container .carousel-format {
  width: 100%;
  margin: auto;
  margin-top: 2.5rem; }

.intro-p .p-intro {
  font-size: 1.5rem;
  text-align: justify; }

.intro-button {
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro-button .start-button {
    font-size: 1.6rem;
    text-decoration: none; }

.p-general {
  font-size: 1.5rem;
  text-align: center; }

.nosotros-container .important-titles {
  color: #17C3B2;
  margin-bottom: 2rem;
  text-align: center;
  margin: 2rem;
  font-style: bold; }

.nosotros-container p {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem; }

.nosotros-container .image-us {
  display: flex;
  justify-content: center;
  margin: 3rem; }

.partners-p {
  margin: 1rem; }

.partners-ol {
  margin: 1rem;
  list-style: none; }
  .partners-ol .li-partners::before {
    content: '✔';
    margin-right: 0.8rem; }

.form {
  margin: 6rem 2rem; }

.important-titles {
  color: #17C3B2;
  margin-bottom: 2rem;
  text-align: center;
  margin: 2rem;
  font-style: bold; }

.image-adoption {
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  transition: all 2s; }

.img-pet {
  display: block;
  margin: auto;
  align-content: center; }
  .img-pet:hover {
    transform: scale(1.2); }

.paw {
  width: 3rem;
  height: 3rem;
  margin-top: 1.5rem;
  animation-duration: 10s;
  animation-name: movimiento;
  animation-iteration-count: infinite; }

.content .gif .gif-image {
  width: 1260px;
  height: 525px; }

.error-button {
  text-align: center; }
  .error-button a {
    text-decoration: none; }

.container-contact-us {
  margin: 3rem; }
  .container-contact-us .important-titles {
    color: #17C3B2;
    margin-bottom: 2rem;
    text-align: center;
    margin: 2rem;
    font-style: bold; }
  .container-contact-us .google-map {
    display: flex;
    justify-content: center;
    margin: 3rem; }

@keyframes movimiento {
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    transform: translate(20px); }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  60% {
    transform: translate(40px); }
  70% {
    opacity: 0; }
  80% {
    opacity: 1; }
  90% {
    transform: translate(60px); }
  100% {
    opacity: 0; } }
