// Variables

// Colors

$body-bg-color: #fdfcdc;
$header-footer-bg-color: #227C9D;
$button-color: #FFCB77;
$title-color: #17C3B2;

// transformaciones

$transform-images: scale(1.2);

// Tamaño:

$width-home: 100%;

// Font size

$fonts: (
    buttons: 20px,
    paragraph: 22px,
    footer: 30px,
    menus: 25px
);

// Display
$display: flex;