// Footer

.footer {
    background-color: $header-footer-bg-color;

    .footer-p {
        display: flex;
        justify-content: center; 
        font-size: map-get($fonts, footer);        ; 
        font-weight: bold;
        padding-top: 2rem;
    }

    .footer-container {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 2rem;

        .div-footer {
            width: 15%;
            display: flex;
            justify-content: space-around;
        }
    }
}