// Header

header {
    margin-bottom: 5rem;

    .logo-header{
        height: 12rem;
        width: auto;
    }

    .intro-menu {
        display: flex;
        justify-content: flex-end;
        background-image: linear-gradient(to right, $body-bg-color, $header-footer-bg-color) ;
    }  
}

// 

.menu {
    background-image: linear-gradient(to left, $body-bg-color, $header-footer-bg-color) ;

    ul {
        list-style:none;
        margin-bottom: 0px;

        a {
            display:block;
            color:#fff;
            text-decoration: none;
            font-weight:400;
            font-size: map-get($fonts, menus);
            padding: 1rem;
            letter-spacing:0.2rem;
            font-weight: bolder;
        }

        li {
            position:relative;
            float:left;
            margin:auto;
            
                
                &:hover{
                    background-color:$button-color;
                   
                    
                }

                &:hover > ul {
                    display: block;
                  
                }
        }

        ul {
            display: none;
            position: absolute;
            top:100%;
            left:0;
            margin-bottom: 0px;
            padding:0;
            z-index: 1;
            background-color: $header-footer-bg-color;

                li {
                    float: none;
                   
                    &:hover {
                            display: block;
                            
                        }
                }

                a {
                    line-height:120%;
                    
                }
        }

        li:hover {
            display: block;
           
        }
    }
}