// Contactanos


.container-contact-us {
    margin: 3rem;

    .important-titles {
        @include titles;
    }

    .google-map {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }
}

