// Home

.inicio-container {
    flex-direction: column;
    margin-bottom: 20px;

    .general {
        display: flex;

        .intro {
            width: $width-home/2;

            .intro-title {
                justify-content: center;

                .important-titles {
                    @include titles
                }

            }
        }

        .intro-p {
            justify-content: center;

            .p-intro {
                font-size: map-get($fonts, paragraph);
                font-style: italic;
                text-align: center;

            }
        }

        .intro-button {
            display: $display;
            @if $display == flex {
                justify-content: center;
            } @else {
                background-color: aqua;
            }
            
            align-items: center;

            .button {

                .start-button {
                    font-size: map-get($fonts, buttons);
                    text-decoration: none;
                    
                }
            }
        }

        .carousel-format {
            width: $width-home;
            margin-left: 60px;
            margin-top: 25px;
        }
    }
}