// Home

.inicio-container {


    .section-index {
        

        .intro {
            width: $width-home;

            .intro-title {
            

                .important-titles {
                    @include titles
                }

            }
        }


        }

        .carousel-format {
            width: $width-home;
            margin: auto;
            margin-top: 2.5rem;
        }
    }


.intro-p {

    

    .p-intro {
        font-size: map-get($fonts, paragraph);
        text-align: justify;


    }
}

.intro-button {
    display: $display;
    @if $display == flex {
        justify-content: center;
    } @else {
        background-color: aqua;
    }
    
    align-items: center;

    .button {
       
        .start-button {
            font-size: map-get($fonts, buttons);
            text-decoration: none;
            
        }

    }
}

.p-images-home {
    font-size: map-get($fonts, paragraph);
    text-align: center;
}