// Nosotros

.nosotros-container{

    .important-titles {
        @include titles 
}

    p {
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
}


}

.image-us {
    display: block;
    margin: auto;
    align-items: center;
}

