// Partners

.partners-p {
    margin: 1rem;
}

.partners-ol {
    margin: 1rem;
    list-style: none;

    .li-partners::before {
        content: '✔';
        margin-right: 0.8rem;
    }
    
}


.form {
    margin: 6rem 2rem;
}